<footer role="contentinfo">
  <div class="mt-10 py-6 text-sm">
    <nav class="mx-auto px-3 flex flex-nowrap items-center justify-center gap-1 max-w-[300px] sm:max-w-md md:max-w-lg">
      <%= link_to "利用規約", terms_path %>
      <span class="text-gray-400">・</span>
      <%= link_to "プライバシーポリシー", privacy_path %>
      <span class="text-gray-400">・</span>

      <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLScAH-rePh0qqit1iLmOiov63G9tvu7OWnnFX06Z7AvAgSDKjQ/viewform?usp=dialog", target: :_blank, rel: "noopener" %>
    </nav>
    <p class="text-center text-xs text-gray-500 mt-3">
      &copy; <%= Time.zone.now.year %> ヘルスノ陣
    </p>
  </div>

  <div class="bg-[linear-gradient(180deg,#F192A5_0%,#D95C7A_100%)] text-white border-t border-white/20">
    <nav class="container mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <ul class="grid grid-cols-4 gap-1">
        <li><%= footer_nav_link_to home_path, t(".home"),   icon: "home"   %></li>
        <li><%= footer_nav_link_to new_exercise_log_path, t(".record"), icon: "record" %></li>
        <li><%= footer_nav_link_to groups_path, t(".group"), icon: "group" %></li>
        <li><%= footer_nav_link_to edit_mypage_path, t(".my_page"), icon: "my-page" %></li>
      </ul>
    </nav>
  </div>

</footer>
