<p><%= t('.greeting', email: @resource.email) %></p>

<p><%= t('.intro') %></p>

<p><%= link_to t('.action'),
       edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.ignore') %></p>
<p><%= t('.note') %></p>
