<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no"><!-- iOSの勝手なTELリンク抑止 -->
  <title>ヘルスノ陣</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body class="min-h-screen sm:min-h-[100svh] flex flex-col bg-gray-50 text-gray-900">
  <%= render "shared/header" %>

  <main class="container mx-auto max-w-screen-xl w-full flex-1 px-4 sm:px-6 lg:px-8 py-6">
    <%= render "shared/flash" if lookup_context.exists?("shared/_flash") %>
    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
