<!DOCTYPE html>
<html lang="ja" data-theme="light">
<head>
<%# Google Analytics 後でターボに統一する%>
  <% if Rails.env.production? && ENV["GA_MEASUREMENT_ID"].present? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GA_MEASUREMENT_ID"] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', '<%= ENV["GA_MEASUREMENT_ID"] %>', { send_page_view: false });

      function sendPV(){
        if (!window.gtag) return;
        var path = location.pathname + location.search;
        if (window.__ga_last_path === path) return;
        window.__ga_last_path = path;
        gtag('config', '<%= ENV["GA_MEASUREMENT_ID"] %>', {
          page_location: location.href,
          page_path: path,
          page_title: document.title
        });
      }

      document.addEventListener('DOMContentLoaded', sendPV);
      document.addEventListener('turbo:load', sendPV);
    </script>
  <% end %>

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <title><%= content_for?(:title) ? yield(:title) : "ヘルスノ陣" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag "favicon.png" %>

  <% unless Rails.env.test? %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <% end %>

  <%= yield :head %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body
  class="min-h-[100dvh] flex flex-col bg-base-100 text-base-content bg-fixed"
  style="background-image: url('<%= asset_path('background/washi.png') %>');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center">

  <%= render "shared/header" %>

  <main id="main" class="container mx-auto max-w-screen-xl w-full flex-1 px-4 sm:px-6 lg:px-8 pt-3 py-6">
    <div class="mb-0">
    <%= render "shared/flash_message" %>
    </div>
    <%= yield %>
  </main>

  <%= render "shared/footer" %>

  <div class="h-[env(safe-area-inset-bottom)]"></div>
</body>
</html>
